.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  &--primary {
    background-color: var(--btn-primary);
    color: var(--btn-primary-text);
    border: 1px solid var(--btn-primary);
  }
  &--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--btn-primary);
    transition: all .3s ease-out;
  }
}
