.btn {
  display: inline-block;
  text-decoration: none;
  min-width: 200px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  &__link {
    text-decoration: none;
    color: #fff;
  }
}

.filled {
  background-color: var(--btn-background-primary);
}

.outline {
  border: 3px solid #e43d4e;
  box-sizing: border-box;
}
