.pd20 {
  padding: 20px;
}
.pd25 {
  padding: 25px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt150{
  margin-top: 150px;
}

.fz22{
  font-size: 22px;
}

.trsltX350{
  transform: translateX(-350);
}